@mixin display_flex ($flex-direction, $justify_content, $align_items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

@mixin font_weight ($weight_value) {
    font-weight:$weight_value;
}

@mixin font_size ($sizeValue) {
    font-size:#{$sizeValue}em;
}

%sections_title {
    text-align: center;
    @include font_size(2.75);
    padding: $padding/2 0;
    @include font_weight(600);
}
%services_titles {
    padding: $padding/1.75 0;
    width: 100%;
    @include font_size(2);
    @include font_weight(600);
}
%services_div_image {
    background-size: cover;
    height: 60vh;
    width: 100%;
    @include display_flex(column, flex-end, flex-start);
}