section.fade_section h1#fade_section_title, section.services_container h1 {
  text-align: center;
  font-size: 2.75em;
  padding: 1em 0;
  font-weight: 600;
}

section.services_container div.service_1 h2.service_title, section.services_container div.service_2 h2.service_title, section.services_container div.service_3 h2.service_title {
  padding: 1.14286em 0;
  width: 100%;
  font-size: 2em;
  font-weight: 600;
}

section.services_container div.service_1 div.service_image, section.services_container div.service_2 div.service_image, section.services_container div.service_3 div.service_image {
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "sans-serif";
}

header {
  background-image: url("../Images/Images_For_Phone/header.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.33333em;
}

header nav {
  height: 10vh;
  width: 100%;
  padding: 0.5em 1em;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  height: 100%;
}

header nav span#logo_contain {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav span#logo_contain img {
  height: 100%;
}

header h1.header_title {
  color: #fff;
  text-align: center;
  font-size: 3.25em;
  font-weight: 600;
}

section.fade_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.33333em;
}

section.fade_section h1#fade_section_title {
  font-weight: 500;
}

section.fade_section div.image_container_fade_section {
  background-image: url("../Images/Images_For_Phone/Image_Fade.jpg");
  width: 80%;
  height: 45vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0 auto 2em;
}

section.fade_section div.fade_paragraph_container {
  width: 80%;
  margin: 0 auto 2em;
}

section.fade_section div.fade_paragraph_container p {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  line-height: 4vh;
  padding: 0.66667em 0.66667em;
  margin: 0 auto 2em;
}

section.fade_section div.fade_paragraph_container p:nth-of-type(1) {
  text-align: left;
}

section.fade_section div.fade_paragraph_container p:nth-of-type(2) {
  text-align: right;
}

section.services_container {
  padding: 1em;
  -webkit-box-shadow: 10vw -0.5vh 2px #d4d4d4;
          box-shadow: 10vw -0.5vh 2px #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.services_container div.service_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

section.services_container div.service_1 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_1.jpg");
}

section.services_container div.service_1 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 17.5%;
  height: 12%;
  color: #fff;
  text-align: center;
}

section.services_container div.service_1 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

section.services_container div.service_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

section.services_container div.service_2 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_2.jpg");
}

section.services_container div.service_2 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 17.5%;
  height: 12%;
  color: #fff;
  text-align: center;
}

section.services_container div.service_2 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

section.services_container div.service_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

section.services_container div.service_3 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_3.jpg");
}

section.services_container div.service_3 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 17.5%;
  height: 12%;
  color: #fff;
  text-align: center;
}

section.services_container div.service_3 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em 4em;
  background-color: #131212;
}

section.contact div.contain_form {
  background-color: #fff;
  margin: 0.66667em auto;
  width: 100%;
}

section.contact div.contain_form h2.newsletters_heading {
  color: #131212;
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  padding: 0.66667em 0;
}

section.contact div.contain_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0.66667em;
}

section.contact div.contain_form form label {
  font-weight: 300;
  text-align: center;
  font-style: italic;
  color: #625c5c;
}

section.contact div.contain_form form input[type="email"] {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  margin: 0 auto 2em;
  font-size: 1.05em;
}

section.contact div.contain_form form input[type="email"]:focus {
  font-size: 1.2em;
  background-color: #f3f3f3;
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
  padding: 0.8em;
  -webkit-transition: .5s;
  transition: .5s;
}

section.contact div.contain_form form input[type="submit"] {
  font-style: italic;
  padding: 0.8em 1em;
  font-weight: 600;
  font-size: 1.25em;
  margin-left: auto;
  min-width: 25%;
  background: transparent;
  border: none;
}

section.contact div.contain_form form p.message_send_confirmation {
  font-weight: 300;
  color: #131212;
  width: 80%;
  text-align: center;
  padding: 0.66667em 0;
}

section.contact div.logo_and_bussiness_name {
  border: 2px solid black;
  display: none;
}

section.contact div.partner {
  width: 100%;
  padding: 0.66667em 0;
  background-color: #131212;
  margin: 0.66667em auto;
}

section.contact div.partner i {
  color: #fff;
  font-size: 1.25em;
  margin: 0 0.4em;
}

section.contact div.information {
  width: 90%;
  color: #fff;
  line-height: 2.5vh;
  font-size: 0.9em;
  font-weight: 300;
}

section.contact div.information p {
  font-size: 0.85em;
}

section.contact div.information p:nth-of-type(3) {
  text-transform: capitalize;
}

footer {
  text-align: center;
  padding: 2em 0;
}

footer h5 {
  font-size: 0.9em;
  font-weight: 500;
}

button#topButton {
  display: none;
}
/*# sourceMappingURL=main.css.map */