// ------------------------------------------------- Imports Partials 
@import "variables", "config";
//--------------------------------------------------------------------- Basic Code

// Remome some default style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
}
//------------------------------------------------------------------------ H E A D E R
header {
    background-image: url("../Images/Images_For_Phone/header.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 $padding/1.5;

    //----------------------------------- NavBar
    nav {
        height: 10vh;
        width: 100%;
        padding: $padding/4 $padding/2;
        background: transparent;
        box-shadow: 0px 1px 2px rgba(56, 55, 55, 0.5);
        @include display_flex(row, flex-start, center);

        & a {
            height: 100%;
        }

        span#logo_contain {
            width: 20%;
            height: 100%;
            @include display_flex(row, center, center);

            & img {
                height: 100%;
            }
        }
    }
    //----------------------- Heading (h1) of header
    h1.header_title {
        color: $light_color;
        text-align: center;
        @include font_size(3.5);
    }
}

//---------------------------------------------------------------------- S E C T I O N __ F A D E
section.fade_section {
    @include display_flex(column,unset,center);
    padding: 0 $padding/1.5;
    // --------------------- h1 Title of Fade Section
    h1#fade_section_title {
        @extend %sections_title;
    }
    div.image_container_fade_section{
        background-image: url("../Images/Images_For_Phone/Image_Fade.jpg");
        width: 80%;
        height: 45vh;
        background-size: cover;
        background-position: center bottom;
        background-repeat:no-repeat;
        margin: 0 auto $margin;
    }
    div.fade_paragraph_container{
        width: 80%;
        margin:0 auto $margin;
        
        p{
            @include font_size(1.5);
            text-align: center;
            letter-spacing: 1px;
            line-height: 4vh;
            padding: $padding/3 $padding/3;
            margin: 0 auto $margin;
        }
        
        & p:nth-of-type(1){
            text-align: left;
        }
        & p:nth-of-type(2){
            text-align: right;
        }
    }
}

//----------------------------------------------------------  S E C T I O N __ S E R V I C E S
section.services_container{
    padding: $padding/2;
    box-shadow:10vw -.5vh 2px rgb(212, 212, 212);
    @include display_flex(column,center,center);
    //------------------------ Service Title
    h1{
    @extend %sections_title;
    }
    // -----------------Service N ° 1
    div.service_1{
        @include display_flex(column,center,center);
        margin: $margin auto;
        div.service_image{
            background-image: url("../Images/Images_For_Phone/service_1.jpg");
            background-size:cover;
            height: 60vh;
            width: 100%;
            @include display_flex(column,flex-end,flex-start);
            // Span containing service Number
            span.service_number{
                padding: $padding/2;
                background-color: $bg_dark;
                color: $light_color;
                @include font_size(1.5);
            }
        }
        h2.service_title{
            padding:$padding/1.75 0;
            width:100%;
            @include font_size(2);
            @include font_weight(700);
        }
        p.service_explain{
            @include font_size(1.2);
            padding:$padding/2.5 0;
            line-height: 4vh;
        }
    }
    div.service_2{
        @include display_flex(column,center,center);
        margin: $margin auto;
        div.service_image{
            background-image: url("../Images/Images_For_Phone/service_2.jpg");
            background-size:cover;
            height: 60vh;
            width: 100%;
            @include display_flex(column,flex-end,flex-start);
            // Span containing service Number
            span.service_number{
                padding: $padding/2;
                background-color: $bg_dark;
                color: $light_color;
                @include font_size(1.5);
            }
        }
        h2.service_title{
            padding:$padding/1.75 0;
            width:100%;
            @include font_size(2);
            @include font_weight(700);
        }
        p.service_explain{
            @include font_size(1.2);
            padding:$padding/2.5 0;
            line-height: 4vh;
        }
    }
    div.service_3{
        @include display_flex(column,center,center);
        margin: $margin auto;
        div.service_image{
            background-image: url("../Images/Images_For_Phone/service_3.jpg");
            background-size:cover;
            height: 60vh;
            width: 100%;
            @include display_flex(column,flex-end,flex-start);
            // Span containing service Number
            span.service_number{
                padding: $padding/2;
                background-color: $bg_dark;
                color: $light_color;
                @include font_size(1.5);
            }
        }
        h2.service_title{
            padding:$padding/1.75 0;
            width:100%;
            @include font_size(2);
            @include font_weight(700);
        }
        p.service_explain{
            @include font_size(1.2);
            padding:$padding/2.5 0;
            line-height: 4vh;
        }
    }
}

