section.fade_section h1#fade_section_title, section.services_container h1 {
  text-align: center;
  font-size: 2.75em;
  padding: 1em 0;
  font-weight: 600;
}

section.services_container div.service_1 h2.service_title, section.services_container div.service_2 h2.service_title, section.services_container div.service_3 h2.service_title {
  padding: 1.14286em 0;
  width: 100%;
  font-size: 2em;
  font-weight: 600;
}

section.services_container div.service_1 div.service_image, section.services_container div.service_2 div.service_image, section.services_container div.service_3 div.service_image {
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Poppins", "sans-serif";
}

header {
  background-image: url("../Images/Images_For_Phone/header.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.33333em;
}

@media (min-width: 768px) {
  header {
    padding: 1.14286em 0;
  }
}

@media (min-width: 1024px) {
  header {
    background-image: url("../Images/Images_For_Desktop/Header.jpg");
  }
}

header nav {
  height: 10vh;
  width: 100%;
  padding: 0.5em 1em;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header nav {
    padding: 0.5em 0.5em;
  }
}

header nav span#logo_contain {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav span#logo_contain a {
  height: 100%;
}

header nav span#logo_contain a img {
  height: 100%;
}

@media (min-width: 1440px) {
  header nav span#logo_contain a img {
    -webkit-filter: hue-rotate(40deg);
            filter: hue-rotate(40deg);
  }
}

header h1.header_title {
  color: #fff;
  text-align: center;
  font-size: 3.25em;
  font-weight: 600;
}

@media (min-width: 768px) {
  header h1.header_title {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  header h1.header_title {
    font-size: 4em;
  }
}

@media (min-width: 1440px) {
  header h1.header_title {
    font-size: 5em;
  }
}

section.fade_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.33333em;
}

@media (min-width: 1024px) {
  section.fade_section {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 20vh (33vh)[4];
        grid-template-rows: 20vh repeat(4, 33vh);
  }
}

section.fade_section h1#fade_section_title {
  font-weight: 500;
}

@media (min-width: 768px) {
  section.fade_section h1#fade_section_title {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  section.fade_section h1#fade_section_title {
    letter-spacing: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

@media (min-width: 1440px) {
  section.fade_section h1#fade_section_title {
    font-size: 4em;
  }
}

section.fade_section div.image_container_fade_section {
  background-image: url("../Images/Images_For_Phone/Image_Fade.jpg");
  width: 80%;
  height: 45vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 0 auto 2em;
}

@media (min-width: 768px) {
  section.fade_section div.image_container_fade_section {
    height: 75vh;
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 1024px) {
  section.fade_section div.image_container_fade_section {
    background-image: url("../Images/Images_For_Desktop/Section_Fade.jpg");
    width: 100%;
    height: 90vh;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 1440px) {
  section.fade_section div.image_container_fade_section {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

section.fade_section div.fade_paragraph_container {
  width: 80%;
  margin: 0 auto 2em;
}

@media (min-width: 1024px) {
  section.fade_section div.fade_paragraph_container {
    width: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}

section.fade_section div.fade_paragraph_container p {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  line-height: 4vh;
  padding: 0.66667em 0.66667em;
  margin: 0 auto 2em;
}

@media (min-width: 1024px) {
  section.fade_section div.fade_paragraph_container p {
    font-size: 1.25em;
    line-height: 3.5vh;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  section.fade_section div.fade_paragraph_container p {
    font-size: 1.5em;
    line-height: 3.5vh;
    margin: 2em 0;
    line-height: 4vh;
  }
}

section.fade_section div.fade_paragraph_container p:nth-of-type(1) {
  text-align: left;
}

section.fade_section div.fade_paragraph_container p:nth-of-type(2) {
  text-align: right;
}

section.services_container {
  padding: 1em;
  -webkit-box-shadow: 10vw -0.5vh 2px #d4d4d4;
          box-shadow: 10vw -0.5vh 2px #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  section.services_container {
    padding: 1.33333em;
  }
}

@media (min-width: 1024px) {
  section.services_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1024px) {
  section.services_container h1 {
    text-align: center;
    letter-spacing: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    font-size: 3.5em;
  }
}

@media (min-width: 1440px) {
  section.services_container h1 {
    font-size: 4em;
  }
}

section.services_container div.service_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

@media (min-width: 1024px) {
  section.services_container div.service_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    height: 98vh;
    margin-right: .5vw;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    width: 92.5%;
    margin: 0;
  }
}

section.services_container div.service_1 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_1.jpg");
}

@media (min-width: 768px) {
  section.services_container div.service_1 div.service_image {
    height: 95vh;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_1 div.service_image {
    height: 100%;
    background-image: url("../Images/Images_For_Desktop/service_1.jpg");
  }
}

section.services_container div.service_1 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 16.5vw;
  height: 7.5vh;
  color: #fff;
  text-align: center;
}

@media (min-width: 1024px) {
  section.services_container div.service_1 div.service_image span.service_number {
    height: 9vh;
    width: 7.5vw;
    font-weight: 300;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_1 div.service_image span.service_number {
    height: 9vh;
    width: 5vw;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  section.services_container div.service_1 h2.service_title {
    font-size: 2.25em;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_1 h2.service_title {
    font-size: 1.75em;
    font-weight: 500;
    padding: 0.66667em 0;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_1 h2.service_title {
    font-size: 1.5em;
    padding: 0.4em;
  }
}

section.services_container div.service_1 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

@media (min-width: 1024px) {
  section.services_container div.service_1 p.service_explain {
    font-size: 1.1em;
    height: 15%;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_1 p.service_explain {
    font-size: 1em;
    height: 20%;
  }
}

section.services_container div.service_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

@media (min-width: 1024px) {
  section.services_container div.service_2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    height: 98vh;
    margin-left: .5vw;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    margin: 0;
    width: 92.5%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

section.services_container div.service_2 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_2.jpg");
}

@media (min-width: 768px) {
  section.services_container div.service_2 div.service_image {
    height: 95vh;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_2 div.service_image {
    height: 100%;
    background-image: url("../Images/Images_For_Desktop/service_2.jpg");
  }
}

section.services_container div.service_2 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 16.5vw;
  height: 7.5vh;
  color: #fff;
  text-align: center;
}

@media (min-width: 1024px) {
  section.services_container div.service_2 div.service_image span.service_number {
    height: 9vh;
    width: 7.5vw;
    font-weight: 300;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_2 div.service_image span.service_number {
    height: 9vh;
    width: 5vw;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  section.services_container div.service_2 h2.service_title {
    font-size: 2.25em;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_2 h2.service_title {
    font-size: 1.75em;
    font-weight: 500;
    padding: 0.66667em 0;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_2 h2.service_title {
    font-size: 1.5em;
    padding: 0.4em;
  }
}

section.services_container div.service_2 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

@media (min-width: 1024px) {
  section.services_container div.service_2 p.service_explain {
    font-size: 1.1em;
    height: 15%;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_2 p.service_explain {
    font-size: 1em;
    height: 20%;
  }
}

section.services_container div.service_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
  -webkit-box-shadow: 1px 1px 2px lightgray;
          box-shadow: 1px 1px 2px lightgray;
}

@media (min-width: 1024px) {
  section.services_container div.service_3 {
    height: 97.5vh;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_3 {
    height: 98vh;
    width: 92.5%;
    margin: 0;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
    justify-self: flex-end;
  }
}

section.services_container div.service_3 div.service_image {
  background-image: url("../Images/Images_For_Phone/service_3.jpg");
}

@media (min-width: 768px) {
  section.services_container div.service_3 div.service_image {
    height: 95vh;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_3 div.service_image {
    height: 100%;
    background-image: url("../Images/Images_For_Desktop/service_3.jpg");
  }
}

section.services_container div.service_3 div.service_image span.service_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  background-color: #131212;
  width: 16.5vw;
  height: 7.5vh;
  color: #fff;
  text-align: center;
}

@media (min-width: 1024px) {
  section.services_container div.service_3 div.service_image span.service_number {
    height: 9vh;
    width: 7.5vw;
    font-weight: 300;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_3 div.service_image span.service_number {
    height: 9vh;
    width: 5vw;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  section.services_container div.service_3 h2.service_title {
    font-size: 2.25em;
  }
}

@media (min-width: 1024px) {
  section.services_container div.service_3 h2.service_title {
    font-size: 1.75em;
    font-weight: 500;
    padding: 0.66667em 0;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_3 h2.service_title {
    font-size: 1.5em;
    padding: 0.4em;
  }
}

section.services_container div.service_3 p.service_explain {
  font-size: 1.2em;
  padding: 0.8em 0;
  line-height: 4vh;
}

@media (min-width: 1024px) {
  section.services_container div.service_3 p.service_explain {
    font-size: 1.1em;
    height: 15%;
  }
}

@media (min-width: 1440px) {
  section.services_container div.service_3 p.service_explain {
    font-size: 1em;
    height: 20%;
  }
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em 4em;
  background-color: #131212;
}

@media (min-width: 1440px) {
  section.contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
    padding: 2em 1em;
  }
}

section.contact div.contain_form {
  background-color: #fff;
  margin: 0.66667em auto;
  width: 100%;
}

@media (min-width: 1440px) {
  section.contact div.contain_form {
    -ms-grid-column: 9;
    -ms-grid-column-span: 7;
    grid-column: 9/16;
  }
}

section.contact div.contain_form h2.newsletters_heading {
  color: #131212;
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  padding: 0.66667em 0;
}

@media (min-width: 768px) {
  section.contact div.contain_form h2.newsletters_heading {
    font-size: 1.75em;
  }
}

@media (min-width: 1024px) {
  section.contact div.contain_form h2.newsletters_heading {
    font-size: 2em;
  }
}

section.contact div.contain_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0.66667em;
}

section.contact div.contain_form form label {
  font-weight: 300;
  text-align: center;
  font-style: italic;
  color: #625c5c;
}

section.contact div.contain_form form input[type="email"] {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  margin: 0 auto 2em;
  font-size: 1.05em;
}

section.contact div.contain_form form input[type="email"]:focus {
  font-size: 1.2em;
  background-color: #f3f3f3;
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
  padding: 0.8em;
  -webkit-transition: .5s;
  transition: .5s;
}

section.contact div.contain_form form input[type="submit"] {
  font-style: italic;
  padding: 0.8em 1em;
  font-weight: 600;
  font-size: 1.25em;
  margin-left: auto;
  min-width: 25%;
  background: transparent;
  border: none;
  -webkit-transition: background-color .5s .15s, color 2s;
  transition: background-color .5s .15s, color 2s;
}

@media (min-width: 1024px) {
  section.contact div.contain_form form input[type="submit"]:hover {
    background-color: #131212;
    color: #fff;
  }
  section.contact div.contain_form form input[type="submit"]:focus {
    outline: none;
  }
}

section.contact div.contain_form form p.message_send_confirmation {
  font-weight: 300;
  color: #131212;
  width: 80%;
  text-align: center;
  padding: 0.66667em 0;
}

section.contact div.logo_and_bussiness_name {
  display: none;
}

@media (min-width: 1440px) {
  section.contact div.logo_and_bussiness_name {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 1440px) {
  section.contact div.logo_and_bussiness_name a img {
    height: 7.5vh;
    -webkit-filter: hue-rotate(40deg);
            filter: hue-rotate(40deg);
  }
}

@media (min-width: 1440px) {
  section.contact div.logo_and_bussiness_name p {
    font-size: 1.75em;
    font-weight: 600;
    color: #fff;
  }
}

section.contact div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 768px) {
  section.contact div.grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

section.contact div.grid div.partner {
  width: 100%;
  padding: 0.66667em 0;
  background-color: #131212;
  margin: 0.66667em auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media (min-width: 768px) {
  section.contact div.grid div.partner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 7.5px 2.5px -7.5px #dfd6d6;
            box-shadow: 0px 7.5px 2.5px -7.5px #dfd6d6;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid div.partner {
    -webkit-transition: -webkit-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
  }
  section.contact div.grid div.partner:hover {
    -webkit-box-shadow: 0px 7.5px 25px -17.5px #fdfdbc, 0px -7.5px 2.5px -7.5px #fdfdbc;
            box-shadow: 0px 7.5px 25px -17.5px #fdfdbc, 0px -7.5px 2.5px -7.5px #fdfdbc;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid div.partner {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

section.contact div.grid div.partner i {
  color: #fff;
  font-size: 1.25em;
  margin: 0 0.4em;
}

@media (min-width: 1440px) {
  section.contact div.grid div.partner i {
    border: 0px solid transparent;
    -webkit-transition: padding .5s, border 2s ease-out, -webkit-transform .5s linear;
    transition: padding .5s, border 2s ease-out, -webkit-transform .5s linear;
    transition: transform .5s linear, padding .5s, border 2s ease-out;
    transition: transform .5s linear, padding .5s, border 2s ease-out, -webkit-transform .5s linear;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid div.partner i:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    padding: 0.33333em;
    border: 1px solid #fff;
    background-color: black;
  }
}

section.contact div.grid div.information {
  width: 90%;
  color: #fff;
  line-height: 2.5vh;
  font-size: 0.9em;
  font-weight: 300;
}

@media (min-width: 768px) {
  section.contact div.grid div.information {
    width: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid div.information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.contact div.grid div.information p {
  font-size: 0.85em;
}

@media (min-width: 768px) {
  section.contact div.grid div.information p {
    font-size: 0.95em;
  }
}

@media (min-width: 1024px) {
  section.contact div.grid div.information p {
    font-size: 1.05em;
  }
}

@media (min-width: 1440px) {
  section.contact div.grid div.information p {
    font-size: 0.95em;
  }
}

section.contact div.grid div.information p:nth-of-type(3) {
  text-transform: capitalize;
}

footer {
  text-align: center;
  padding: 2em 0;
}

@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer h5 {
  font-size: 0.9em;
  font-weight: 500;
}

@media (min-width: 768px) {
  footer h5 {
    font-size: 1.25em;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  footer h5:nth-of-type(2) {
    padding-left: .5vw;
  }
}

button#topButton {
  display: none;
}
/*# sourceMappingURL=main.css.map */